<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<script type="text/javascript">
</script>
</head>
<body>
<div class="my" id="my">
<img src="<{$userDetail.picture}>" width="100" height="100" id="myPic"/>
<a href='friends.php'>好友</a>
<a href='quesSet.php'>心堡</a>
<a href='profile.php'>个人信息</a>
<p>昵称：<{$userDetail.nickName}></p>
<p>等级：<{$userDetail.rank}></p>
<p>鲜花：<{$userDetail.flowers}></p>
</div>
<br /><br />
<div class="others" id="others">
<{section name=user loop=$recommendList}>
<span><img src="<{$recommendList[user].picture}>" id="otherPic" width="100" height="100"/></span><br />
<span><a href="goQuestion.php?quesUserId=<{$recommendList[user].id}>"><{$recommendList[user].firstQuestion}></a></span><br /><br />
<{/section}>

</div>
</body>
</html>
