<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>New Web Project</title>
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/ajaxfileupload.js"></script>
        <script type="text/javascript">
        	function doUpload(){

        		var questionId;
        		var questionIds=document.getElementsByName("selQues");
        		
        		for(var i=0;i<questionIds.length;i++){
        			if(questionIds[i].checked) {
        				questionId = questionIds[i].value;
        				//alert(questionId);
        				}
        			}
        		//alert(questionId);
        		var selAnswer=$('#sel_'+questionId+' option:selected') .val();
        		
        		if (!(questionId && selAnswer)){
        			alert("必须选择一个问题和答案");
        			return false;
        			exit();
        		}
        		
        		$.ajaxFileUpload
				(
					{
						url:'doajaxfileupload.php',
						secureuri:false,
						fileElementId:'questionPicture',
						dataType: 'json',
						data:{
							questionId:questionId,
							selAnswer:selAnswer},
						success: function (data, status)
						{
							if(data.success == 1)
							{
								alert("提交成功");
								location.reload();
							} else {
								alert(data.errInfo);
							}
						},
						error: function (data, status, e)
						{
							alert(e);
						}
					}
				);
				return false;
        	}
        	
        	function doDelete (questionId) {
			  $.ajax({
					type:"POST",
					url:"delUserQues.php",
					data:{
						questionId:questionId
					},
					dataType:"json",
					success:function(retData,textStatus){
						//alert(retData);
						if(retData.success){
							alert("删除问题成功");
							location.reload();
						} else {
							alert(retData.errInfo);
						}
					},
					complete:function(){

					},
					error:function(XMLHttpRequest, textStatus, errorThrown){
						alert(errorThrown);
					}
				});
			}
        </script>
    </head>
    <body>
       	<div id="myPic">
       		
       	</div>
       	<div id="questionList">
       		<table>
       			<tr>
       				<td>选择</td>
       				<td>编号</td>
       				<td>问题</td>
       				<td>答案</td>
       			</tr>
       			<{section name=question loop=$questionsList}>
       			<tr>
       				<td><input type="radio" name="selQues" value="<{$questionsList[question].id}>"/></td>
       				<td><{$questionsList[question].id}></td>
       				<td><{$questionsList[question].question}></td>
       				<td><select id="sel_<{$questionsList[question].id}>">
       					<option value="A">A:<{$questionsList[question].A}></option>
       					<option value="B">B:<{$questionsList[question].B}></option>
       					<option value="C">C:<{$questionsList[question].C}></option>
       					<option value="D">D:<{$questionsList[question].D}></option>
       				</select></td>
       			</tr>
       			<{/section}>
       			<tr>
       				<td colspan="4">
       					添加图片：<input type="file" id="questionPicture" name="questionPicture[]" onchange="javascript:doUpload();"/><input type="button" value="上传" onclick="javascript:doUpload();"/>
       				</td>
       			</tr>
       			<tr>
       				<td colspan="4"><input type="button" value="添加到我的问题库" onclick="javascript:doUpload();"/></td>
       			</tr>
       		</table>
       	</div>
       	<div id="myquestion">
       		<table border="1">
       			<tr>
       				<td>编号</td>
       				<td>图片</td>
       				<td>问题</td>
       				<td>答案</td>
       				<td>删除</td>
       			</tr> 
       			<{section name=myQuestion loop=$myQuestionsList}>
       			<tr>
       				<td><{$myQuestionsList[myQuestion].questionId}></td>
       				<td><img src="<{$myQuestionsList[myQuestion].questionPicture}>" width="150" height="150"></td>
       				<td><{$myQuestionsList[myQuestion].question}></td>
       				<td>
       					<{if $myQuestionsList[myQuestion].answerNo eq "A"}>
       					<font color="red">
       						<{$myQuestionsList[myQuestion].A}>
       					</font>
       					<{else}>
       						<{$myQuestionsList[myQuestion].A}>
       					<{/if}><br>
       					
       					<{if $myQuestionsList[myQuestion].answerNo eq "B"}>
       					<font color="red">
       						<{$myQuestionsList[myQuestion].B}>
       					</font>
       					<{else}>
       						<{$myQuestionsList[myQuestion].B}>
       					<{/if}><br>
       					
       					<{if $myQuestionsList[myQuestion].answerNo eq "C"}>
       					<font color="red">
       						<{$myQuestionsList[myQuestion].C}>
       					</font>
       					<{else}>
       						<{$myQuestionsList[myQuestion].C}>
       					<{/if}><br>
       					
       					<{if $myQuestionsList[myQuestion].answerNo eq "D"}>
       					<font color="red">
       						<{$myQuestionsList[myQuestion].D}>
       					</font>
       					<{else}>
       						<{$myQuestionsList[myQuestion].D}>
       					<{/if}><br>
       				</td>
       				<td><a href="javascript:void(0);" onclick="javascript:doDelete(<{$myQuestionsList[myQuestion].questionId}>)">删除</a></td>
       			</tr>
       			<{/section}>
       		</table>
       	</div>
       	<div id="footer">
       		<a href="index.php">返回</a>
       	</div>
    </body>
</html>

